IAMSystem/IAM2/Web References/WebReferenceSapUserInfo/ZIAM_READ_SAP_USER_INFOMATION  V0424- XML.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZIAM_READ_SAP_USER_INFOMATION_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_ZIAM_READ_SAP_USER_INFOMATION">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>0018FE7972821DEFB0CD97950B095362</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZiamReadSapUserInfomation">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="byte20">
        <xsd:restriction base="xsd:base64Binary">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="byte8">
        <xsd:restriction base="xsd:base64Binary">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char12">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="12" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char14">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="14" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char18">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="18" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char220">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="220" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char241">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="241" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char255">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="255" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char30">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="30" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char32">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="32" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char40">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="40" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char50">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="50" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char60">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="60" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char80">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="80" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="clnt3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="date">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
          <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="decimal3.0">
        <xsd:restriction base="xsd:decimal">
          <xsd:totalDigits value="3" />
          <xsd:fractionDigits value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="lang">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric3">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric6">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="6" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="time">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
          <xsd:pattern value="\d\d:\d\d:\d\d" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:complexType name="Bapiadtel">
        <xsd:sequence>
          <xsd:element name="Country" type="n0:char3" />
          <xsd:element name="Countryiso" type="n0:char2" />
          <xsd:element name="StdNo" type="n0:char1" />
          <xsd:element name="Telephone" type="n0:char30" />
          <xsd:element name="Extension" type="n0:char10" />
          <xsd:element name="TelNo" type="n0:char30" />
          <xsd:element name="CallerNo" type="n0:char30" />
          <xsd:element name="StdRecip" type="n0:char1" />
          <xsd:element name="R3User" type="n0:char1" />
          <xsd:element name="HomeFlag" type="n0:char1" />
          <xsd:element name="Consnumber" type="n0:numeric3" />
          <xsd:element name="Errorflag" type="n0:char1" />
          <xsd:element name="FlgNouse" type="n0:char1" />
          <xsd:element name="ValidFrom" type="n0:char14" />
          <xsd:element name="ValidTo" type="n0:char14" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapislockd">
        <xsd:sequence>
          <xsd:element name="WrngLogon" type="n0:char1" />
          <xsd:element name="LocalLock" type="n0:char1" />
          <xsd:element name="GlobLock" type="n0:char1" />
          <xsd:element name="NoUserPw" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiret2">
        <xsd:sequence>
          <xsd:element name="Type" type="n0:char1" />
          <xsd:element name="Id" type="n0:char20" />
          <xsd:element name="Number" type="n0:numeric3" />
          <xsd:element name="Message" type="n0:char220" />
          <xsd:element name="LogNo" type="n0:char20" />
          <xsd:element name="LogMsgNo" type="n0:numeric6" />
          <xsd:element name="MessageV1" type="n0:char50" />
          <xsd:element name="MessageV2" type="n0:char50" />
          <xsd:element name="MessageV3" type="n0:char50" />
          <xsd:element name="MessageV4" type="n0:char50" />
          <xsd:element name="Parameter" type="n0:char32" />
          <xsd:element name="Row" type="xsd:int" />
          <xsd:element name="Field" type="n0:char30" />
          <xsd:element name="System" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapimoddat">
        <xsd:sequence>
          <xsd:element name="Moddate" type="n0:date" />
          <xsd:element name="Modtime" type="n0:time" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiprof">
        <xsd:sequence>
          <xsd:element name="Bapiprof" type="n0:char12" />
          <xsd:element name="Bapiptext" type="n0:char60" />
          <xsd:element name="Bapitype" type="n0:char1" />
          <xsd:element name="Bapiaktps" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiagr">
        <xsd:sequence>
          <xsd:element name="AgrName" type="n0:char30" />
          <xsd:element name="FromDat" type="n0:date" />
          <xsd:element name="ToDat" type="n0:date" />
          <xsd:element name="AgrText" type="n0:char80" />
          <xsd:element name="OrgFlag" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapilogond">
        <xsd:sequence>
          <xsd:element name="Gltgv" type="n0:date" />
          <xsd:element name="Gltgb" type="n0:date" />
          <xsd:element name="Ustyp" type="n0:char1" />
          <xsd:element name="Class" type="n0:char12" />
          <xsd:element name="Accnt" type="n0:char12" />
          <xsd:element name="Tzone" type="n0:char6" />
          <xsd:element name="Ltime" type="n0:time" />
          <xsd:element name="Bcode" type="n0:byte8" />
          <xsd:element name="Codvn" type="n0:char1" />
          <xsd:element name="Passcode" type="n0:byte20" />
          <xsd:element name="Codvc" type="n0:char1" />
          <xsd:element name="Pwdsaltedhash" type="n0:char255" />
          <xsd:element name="Codvs" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiparam">
        <xsd:sequence>
          <xsd:element name="Parid" type="n0:char20" />
          <xsd:element name="Parva" type="n0:char18" />
          <xsd:element name="Partxt" type="n0:char60" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiadsmtp">
        <xsd:sequence>
          <xsd:element name="StdNo" type="n0:char1" />
          <xsd:element name="EMail" type="n0:char241" />
          <xsd:element name="EmailSrch" type="n0:char20" />
          <xsd:element name="StdRecip" type="n0:char1" />
          <xsd:element name="R3User" type="n0:char1" />
          <xsd:element name="Encode" type="n0:char1" />
          <xsd:element name="Tnef" type="n0:char1" />
          <xsd:element name="HomeFlag" type="n0:char1" />
          <xsd:element name="Consnumber" type="n0:numeric3" />
          <xsd:element name="Errorflag" type="n0:char1" />
          <xsd:element name="FlgNouse" type="n0:char1" />
          <xsd:element name="ValidFrom" type="n0:char14" />
          <xsd:element name="ValidTo" type="n0:char14" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiaddr3">
        <xsd:sequence>
          <xsd:element name="PersNo" type="n0:char10" />
          <xsd:element name="AddrNo" type="n0:char10" />
          <xsd:element name="TitleP" type="n0:char30" />
          <xsd:element name="Firstname" type="n0:char40" />
          <xsd:element name="Lastname" type="n0:char40" />
          <xsd:element name="BirthName" type="n0:char40" />
          <xsd:element name="Middlename" type="n0:char40" />
          <xsd:element name="Secondname" type="n0:char40" />
          <xsd:element name="Fullname" type="n0:char80" />
          <xsd:element name="FullnameX" type="n0:char1" />
          <xsd:element name="TitleAca1" type="n0:char20" />
          <xsd:element name="TitleAca2" type="n0:char20" />
          <xsd:element name="Prefix1" type="n0:char20" />
          <xsd:element name="Prefix2" type="n0:char20" />
          <xsd:element name="TitleSppl" type="n0:char20" />
          <xsd:element name="Nickname" type="n0:char40" />
          <xsd:element name="Initials" type="n0:char10" />
          <xsd:element name="Nameformat" type="n0:char2" />
          <xsd:element name="Namcountry" type="n0:char3" />
          <xsd:element name="LanguP" type="n0:lang" />
          <xsd:element name="LangupIso" type="n0:char2" />
          <xsd:element name="Sort1P" type="n0:char20" />
          <xsd:element name="Sort2P" type="n0:char20" />
          <xsd:element name="Department" type="n0:char40" />
          <xsd:element name="Function" type="n0:char40" />
          <xsd:element name="BuildingP" type="n0:char10" />
          <xsd:element name="FloorP" type="n0:char10" />
          <xsd:element name="RoomNoP" type="n0:char10" />
          <xsd:element name="InitsSig" type="n0:char10" />
          <xsd:element name="InhouseMl" type="n0:char10" />
          <xsd:element name="CommType" type="n0:char3" />
          <xsd:element name="Title" type="n0:char30" />
          <xsd:element name="Name" type="n0:char40" />
          <xsd:element name="Name2" type="n0:char40" />
          <xsd:element name="Name3" type="n0:char40" />
          <xsd:element name="Name4" type="n0:char40" />
          <xsd:element name="COName" type="n0:char40" />
          <xsd:element name="City" type="n0:char40" />
          <xsd:element name="District" type="n0:char40" />
          <xsd:element name="CityNo" type="n0:char12" />
          <xsd:element name="DistrctNo" type="n0:char8" />
          <xsd:element name="Chckstatus" type="n0:char1" />
          <xsd:element name="PostlCod1" type="n0:char10" />
          <xsd:element name="PostlCod2" type="n0:char10" />
          <xsd:element name="PostlCod3" type="n0:char10" />
          <xsd:element name="PoBox" type="n0:char10" />
          <xsd:element name="PoBoxCit" type="n0:char40" />
          <xsd:element name="PboxcitNo" type="n0:char12" />
          <xsd:element name="DelivDis" type="n0:char15" />
          <xsd:element name="Transpzone" type="n0:char10" />
          <xsd:element name="Street" type="n0:char60" />
          <xsd:element name="StreetNo" type="n0:char12" />
          <xsd:element name="StrAbbr" type="n0:char2" />
          <xsd:element name="HouseNo" type="n0:char10" />
          <xsd:element name="HouseNo2" type="n0:char10" />
          <xsd:element name="StrSuppl1" type="n0:char40" />
          <xsd:element name="StrSuppl2" type="n0:char40" />
          <xsd:element name="StrSuppl3" type="n0:char40" />
          <xsd:element name="Location" type="n0:char40" />
          <xsd:element name="Building" type="n0:char10" />
          <xsd:element name="Floor" type="n0:char10" />
          <xsd:element name="RoomNo" type="n0:char10" />
          <xsd:element name="Country" type="n0:char3" />
          <xsd:element name="Countryiso" type="n0:char2" />
          <xsd:element name="Langu" type="n0:lang" />
          <xsd:element name="LanguIso" type="n0:char2" />
          <xsd:element name="Region" type="n0:char3" />
          <xsd:element name="Sort1" type="n0:char20" />
          <xsd:element name="Sort2" type="n0:char20" />
          <xsd:element name="TimeZone" type="n0:char6" />
          <xsd:element name="Taxjurcode" type="n0:char15" />
          <xsd:element name="AdrNotes" type="n0:char50" />
          <xsd:element name="Tel1Numbr" type="n0:char30" />
          <xsd:element name="Tel1Ext" type="n0:char10" />
          <xsd:element name="FaxNumber" type="n0:char30" />
          <xsd:element name="FaxExtens" type="n0:char10" />
          <xsd:element name="EMail" type="n0:char241" />
          <xsd:element name="BuildLong" type="n0:char20" />
          <xsd:element name="Regiogroup" type="n0:char8" />
          <xsd:element name="HomeCity" type="n0:char40" />
          <xsd:element name="Homecityno" type="n0:char12" />
          <xsd:element name="Pcode1Ext" type="n0:char10" />
          <xsd:element name="Pcode2Ext" type="n0:char10" />
          <xsd:element name="Pcode3Ext" type="n0:char10" />
          <xsd:element name="PoWONo" type="n0:char1" />
          <xsd:element name="PoBoxReg" type="n0:char3" />
          <xsd:element name="PoboxCtry" type="n0:char3" />
          <xsd:element name="PoCtryiso" type="n0:char2" />
          <xsd:element name="DontUseS" type="n0:char4" />
          <xsd:element name="DontUseP" type="n0:char4" />
          <xsd:element name="HouseNo3" type="n0:char10" />
          <xsd:element name="LanguCrP" type="n0:lang" />
          <xsd:element name="Langucpiso" type="n0:char2" />
          <xsd:element name="PoBoxLobby" type="n0:char40" />
          <xsd:element name="DeliServType" type="n0:char4" />
          <xsd:element name="DeliServNumber" type="n0:char10" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapidefaul">
        <xsd:sequence>
          <xsd:element name="Stcod" type="n0:char20" />
          <xsd:element name="Spld" type="n0:char4" />
          <xsd:element name="Splg" type="n0:char1" />
          <xsd:element name="Spdb" type="n0:char1" />
          <xsd:element name="Spda" type="n0:char1" />
          <xsd:element name="Datfm" type="n0:char1" />
          <xsd:element name="Dcpfm" type="n0:char1" />
          <xsd:element name="Langu" type="n0:lang" />
          <xsd:element name="Cattkennz" type="n0:char1" />
          <xsd:element name="Kostl" type="n0:char8" />
          <xsd:element name="StartMenu" type="n0:char30" />
          <xsd:element name="Timefm" type="n0:char1" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Bapiuclass">
        <xsd:sequence>
          <xsd:element name="LicType" type="n0:char2" />
          <xsd:element name="SpecVers" type="n0:char2" />
          <xsd:element name="CountrySurcharge" type="n0:decimal3.0" />
          <xsd:element name="SubstituteFrom" type="n0:date" />
          <xsd:element name="SubstituteUntil" type="n0:date" />
          <xsd:element name="Sysid" type="n0:char8" />
          <xsd:element name="Client" type="n0:clnt3" />
          <xsd:element name="BnameChargeable" type="n0:char12" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiadtel">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiadtel" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiret2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiret2" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiprof">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiprof" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiagr">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiagr" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiparam">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiparam" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TableOfBapiadsmtp">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:Bapiadsmtp" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ZiamReadSapUserInfomation">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" name="CacheResults" type="n0:char1" />
            <xsd:element name="UserId" type="n0:char12" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZiamReadSapUserInfomationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ActivitygroupsEt" type="tns:TableOfBapiagr" />
            <xsd:element name="Address" type="tns:Bapiaddr3" />
            <xsd:element name="AddsmtpEt" type="tns:TableOfBapiadsmtp" />
            <xsd:element name="AddtelEt" type="tns:TableOfBapiadtel" />
            <xsd:element name="Defaults" type="tns:Bapidefaul" />
            <xsd:element name="Islocked" type="tns:Bapislockd" />
            <xsd:element name="Lastmodified" type="tns:Bapimoddat" />
            <xsd:element name="Logondata" type="tns:Bapilogond" />
            <xsd:element name="ParameterEt" type="tns:TableOfBapiparam" />
            <xsd:element name="ProfilesEt" type="tns:TableOfBapiprof" />
            <xsd:element name="ReturnEt" type="tns:TableOfBapiret2" />
            <xsd:element name="Uclass" type="tns:Bapiuclass" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZiamReadSapUserInfomation">
    <wsdl:part name="parameters" element="tns:ZiamReadSapUserInfomation" />
  </wsdl:message>
  <wsdl:message name="ZiamReadSapUserInfomationResponse">
    <wsdl:part name="parameter" element="tns:ZiamReadSapUserInfomationResponse" />
  </wsdl:message>
  <wsdl:portType name="ZIAM_READ_SAP_USER_INFOMATION">
    <wsdl:documentation>
      <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
        <sapdoc:docitem docURL="http://shac229sap:8000/sap/bc/esdt/docu/sd_text?sap-client=800&amp;sd_name=ZIAM_READ_SAP_USER_INFOMATION" />
      </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_ZIAM_READ_SAP_USER_INFOMATION" />
    </wsp:Policy>
    <wsdl:operation name="ZiamReadSapUserInfomation">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZiamReadSapUserInfomation" />
      </wsp:Policy>
      <wsdl:input message="tns:ZiamReadSapUserInfomation" />
      <wsdl:output message="tns:ZiamReadSapUserInfomationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZIAM_READ_SAP_USER_INFOMATION_SOAP12" type="tns:ZIAM_READ_SAP_USER_INFOMATION">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZIAM_READ_SAP_USER_INFOMATION_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZiamReadSapUserInfomation">
      <wsoap12:operation soapAction="" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZIAM_READ_SAP_USER_INFOMATIONService">
    <wsdl:port name="ZIAM_READ_SAP_USER_INFOMATION_SOAP12" binding="tns:ZIAM_READ_SAP_USER_INFOMATION_SOAP12">
      <wsoap12:address location="http://shac229sap:8000/sap/bc/srt/rfc/sap/ziam_read_sap_user_infomation/800/ziam_read_sap_user_infomation/ziam_read_sap_user_infomation" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>